{% from 'bootstrap4/utils.html' import render_icon %}

{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 pb-5">
    <h1 class="font-weight-bold ml-2">List Product Cart</h1>
    <hr>
        
      <div class="card mb-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Your Cart</h5>
            {% if carts|length %}
              <button onclick="product_checkout()" class="btn btn-success" id="checkout">Check Out!</button>
            {% endif %}
          </div>
        </div>
        
        <div class="card-body table-responsive">
          
          {% if carts|length < 1 %}
            <div class="alert alert-danger" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
              Cart is empty!
            </div>
          {% endif %}
                    
          <table class="table table-striped">
            <thead>
              <th>#</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>&nbsp;</th>
            </thead>
            {% if carts|length %}
            
            <tbody>
            {% for cart in carts %}
              <tr class="product">
                <td>{{ loop.index }}</td>
                <td class="product-name">
                  <img src="{{ url_for('static', filename="uploads/" + cart.image) }}" alt="" width="60" height="60">
                  <span class="name">{{cart.product_name}}</span>
                </td>
                <td class="product-price">
                  Rp.<span class="price" id="price">{{cart.regural_price}}</span>
                </td>
                <td class="product-quantity">
                  <input type="number" min="1" max="{{ cart.quantity }}" value="1" class="quantity">
                </td>
                <td class="product-cost">Rp.<span class="cost">{{cart.regural_price}}</span></td>
                <td>
                  <button onclick="removeFromCart({{cart.id}})" class="btn btn-sm btn-danger">{{ render_icon('trash-fill') }}</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <th>TOTAL</th>
                <td>
                  Rp.<span id="total"></span>
                </td>
              </tr>
            </tfoot>
            {% endif %}
          </table>
        </div>
      </div>

    </div>   
  </div>

{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename="js/cart.js") }}"></script>
  <script src="{{ url_for('static', filename="js/subtotal.js") }}"></script>
{% endblock scripts %}
