{% from 'bootstrap4/utils.html' import render_icon %}

{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 pb-5">
    <h1 class="font-weight-bold ml-2">Product Order</h1>
    <hr>
        
      <div class="card mb-2">
        <div class="card-header">
          <h5 class="card-title">Your Cart</h5>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                  {{form.penerima.label}}
                  {{form.penerima(class="form-control")}}
                </div>
                <div class="form-group">
                  {{form.alamat.label}}
                  {{form.alamat(class="form-control")}}
                </div>
                <div class="form-group">
                  {{form.pesan.label}}
                  {{form.pesan(class="form-control")}}
                </div>
                {{form.submit(class="btn btn-sm btn-info btn-block")}}
              </form>
            </div>
            <div class="col-8 table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in carts['detail'] %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{order.quantity}}</td>
                    <td>Rp. <span>{{ order.cost | currency_format }}</span></td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Total</th>
                    <th>Rp.<span>{{ carts.total|currency_format }}</span></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>   
  </div>
{% endblock content %}


{% block scripts %}
  <script src="{{ url_for('static', filename="js/cart.js") }}"></script>
  <script src="{{ url_for('static', filename="js/subtotal.js") }}"></script>
{% endblock scripts %}
