{% extends "base.html" %}

{% block content %}

  <div class="container mt-5 w-50 pb-5">
    <h1 class="font-weight-bold">Profile</h1>
    <hr>

    <div class="mt-4 w-75 mx-auto">

      {# card #}
        <div class="card">
          <div class="card-header">
            <h5 class="card-title font-weight-light">Your Profile</h5>
          </div>

          <form method="post">
            {{form.hidden_tag()}}
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.fname.label}}
                  {{form.fname(class="form-control")}}
                </div>
                <div class="form-group col-md-6">
                  {{form.lname.label}}
                  {{form.lname(class="form-control")}}
                </div>
              </div>
              <div class="form-group">
                {{form.address.label}}
                {{form.address(class="form-control")}}
              </div>
              <div class="form-group">
                {{form.city.label}}
                {{form.city(class="form-control")}}
              </div>
              <div class="form-group">
                {{form.state.label}}
                {{form.state(class="form-control")}}
              </div>
              <div class="form-group">
                {{form.country.label}}
                {{form.country(class="form-control")}}
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.zipcode.label}}
                  {{form.zipcode(class="form-control")}}
                </div>
                <div class="form-group col-md-6">
                  {{form.phone.label}}
                  {{form.phone(class="form-control")}}
                  {% for error in form.phone.errors %}
                    <small id="passwordHelp" class="text-danger">
                      {{error}}
                    </small>      
                  {% endfor %}
                </div>
              </div>

              {{form.submit(class="btn btn-info btn-block")}}
              <button class="btn btn-secondary btn-block" onclick="history.back()">Back</button>
            </div>
          </div>
        {# end card #}
        
      </div>
    </form>

  </div>  

{% endblock content %}