{% from 'bootstrap4/utils.html' import render_icon %}

{% extends "base.html" %}

{% block content %}

  <div class="container mt-5 w-50 pb-5">
    <h1 class="font-weight-bold">Transaction History</h1>
    <hr>

      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            {% if orders|length < 1 %}
              <div class="alert alert-danger" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                Order Transaction is Empty!!
              </div>
            {% else %}

            <table class="table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Penerima</th>
                  <th>Alamat</th>
                  <th>Status</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}  
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ order.penerima }}</td>
                  <td>{{ order.alamat }}</td>
                  <td>
                    <span class="badge badge-{% if order.status == 'pending' %}warning{% elif order.status == 'expired' %}info{%elif order.status == 'success' %}success{% else %}danger{% endif %}">{{order.status}}</span>
                  </td>
                  <td>
                    <a href="{{ url_for('main.invoice', id=order.id) }}" class="btn btn-sm btn-warning">{{ render_icon('file-earmark-text-fill') }}</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>

  </div>  

{% endblock content %}