<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error | 403</title>

  {{bootstrap.load_css()}}

  <style>
    #main {
      height: 100vh;
    }
  </style>
</head>
<body>

<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
    <div class="inline-block align-middle">
      <h2 class="font-weight-normal lead" id="desc">You don't have permission to access on this server.</h2>
    </div>
</div>
  
  {{bootstrap.load_js()}}

</body>
</html>