  <header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" href="#">Flask-<span style="color:chartreuse">mini</span>Commerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCminiCommerceollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1 {% if page == "index" %} active {% endif %}">
						<a class="nav-link" href="{{ url_for("main.index") }}"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
					</li>

          {% if current_user.is_authenticated %}
						{% if current_user.is_administrator() %}
							<li class="nav-item pl-1">
								<a class="nav-link" href="{{ url_for('users.user_list') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Users</a>
							</li>
						{% endif %}

						{% if current_user.can(Permission.PRODUCT_MANAGEMENT)  %}
							<li class="nav-item pl-1">
								<a class="nav-link" href="{{ url_for('products.show_product') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Product</a>
							</li>

                            {#  all user orders here... #}
                            <li class="nav-item pl-1">
								<a class="nav-link" href="{{ url_for("main.orders") }}"><i class="fa fa-th-list fa-fw mr-1"></i>Orders</a>
							</li>
						{% endif %}
					<li class="nav-item pl-1 ">
						<a class="nav-link" href="{{ url_for('cart.cart_list') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Cart <span class="badge badge-light">{{ cart_item }}</span></a>
					</li>
					<li class="nav-item pl-1 ">
						<a class="nav-link" href="{{ url_for('users.user_profile') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Your Profile</a>
					</li>
					<li class="nav-item pl-1 ">
						<a class="nav-link" href="{{ url_for('users.history') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Your Order</a>
					</li>
          <li class="nav-item pl-1 ">
						<a class="nav-link" href="{{ url_for('auth.signout') }}"><i class="fa fa-th-list fa-fw mr-1"></i>Sign Out</a>
					</li>
          {% else %}
          <li class="nav-item pl-1 {% if page == "signin" %} active {% endif %}">
						<a class="nav-link" href="{{ url_for("auth.signin") }}"><i class="fa fa-th-list fa-fw mr-1"></i>Sign In</a>
					</li>
          {% endif %}       
				</ul>
			</div>

		</div>
	</nav>
	<!--# Navbar #-->
	</header>