<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
      {{title}} - Flask-miniCommerce
    {% else %}
      Flask-miniCommerce
    {% endif %}
  </title>
  {% block styles %}{% endblock styles %}

  <link rel="stylesheet" href="{{ url_for('static', filename="css/__nav.css") }}">

  {{ bootstrap.load_css() }}
  {{ toastr.include_jquery() }}
  {{ toastr.include_toastr_css() }}
  {{ toastr.message() }}
</head>
<body>
  {% include "includes/__nav.html" %}
  
  {% block content %}{% endblock content %}

  {% include "includes/__footer.html" %}
  
  {{bootstrap.load_js()}}
  {{ toastr.include_toastr_js() }}


  {% block scripts %}{% endblock scripts %}

</body>
</html>