{% from 'bootstrap4/utils.html' import render_icon %}

{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
{% endblock styles %}

{% block content %}

<div class="jumbotron">
  <div class="container w-50">
    <h1 class="display-4">Flask-miniCommerce</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>
</div>

<div class="container mb-4">
  <h3 class="font-weight-bold ml-3">All Product 
    {% if filter_by_category %}
      <span class="badge badge-light">Filter by {{category}}</span>
    {% endif %}
  </h3>
  <hr>

  {# category #}
  <div class="d-flex flex-row p-3">
    <div class="p-1 font-weight-bold">Category &raquo;</div>
    {% for category in categories %}
      <div class="p-1">
        <a href="{{ url_for('main.index') }}?category={{category.name}}">{{category.name | title}}</a>
      </div>
    {% endfor %}
  </div>
  {# category #}
  

  <div class="row">
  {% if filter_by_category %}
     {% for product in filter_by_category %}
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-lg-five mb-4">
              <figure class="card card-product-grid h-100">
                  <div class="img-wrap rounded bg-gray-light">

                      {# check if product in cart #}
                      {% if product in current_user.products %}
                      <span class="topbar">
                          <span class="badge tag-discount">{{ render_icon("cart4") }}</span>
                      </span>
                      {% endif %}
                      {# / check if product in cart #}

                      <img class="mix-blend-mode" src="{{ url_for('static', filename="uploads/" + product.image) }}" alt="Funko Pop! Spiderman Integrated Suit - Marvel: Spiderman No Way Home">
                  </div>
                  <figcaption class="card-product-info">
                      <a href="" class="title">{{ product.product_name }}</a>
                      <div class="price-wrap">
                          <span class="price">Rp.{{ product.regural_price | currency_format }}</span>
                      </div>
                      <a href="{{ url_for('products.detail_product', id=product.id) }}" class="btn btn-sm btn-outline-danger w-100 mt-2">Show Detail</a>
                  </figcaption>
              </figure>
          </div>
    {% endfor %}
  {% else %}
    {% for product in products %}
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-lg-five mb-4">
              <figure class="card card-product-grid h-100">
                  <div class="img-wrap rounded bg-gray-light">

                      {# check if product in cart #}
                      {% if product in current_user.products %}
                      <span class="topbar">
                          <span class="badge tag-discount">{{ render_icon("cart4") }}</span>
                      </span>
                      {% endif %}
                      {# / check if product in cart #}

                      <img class="mix-blend-mode" src="{{ url_for('static', filename="uploads/" + product.image) }}" alt="Funko Pop! Spiderman Integrated Suit - Marvel: Spiderman No Way Home">
                  </div>
                  <figcaption class="card-product-info">
                      <a href="" class="title">{{ product.product_name }}</a>
                      <div class="price-wrap">
                          <span class="price">Rp.{{ product.regural_price | currency_format }}</span>
                      </div>
                      <a href="{{ url_for('products.detail_product', id=product.id) }}" class="btn btn-sm btn-outline-danger w-100 mt-2">Show Detail</a>
                  </figcaption>
              </figure>
          </div>
    {% endfor %}
  {% endif %}
    </div>
</div>
{% endblock content %}